body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.todo-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}
.item-header-line {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.item-checkbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item-checkbox__input {
    margin-left: 5px;
    margin-right: 5px;
}
.item-checkbox__title--completed {
    text-decoration: line-through;
}
.options__menu {
    margin-left: 5px;
    margin-right: 5px;
}
.btn--pressed {
    background-color: lightskyblue;
}
