@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --bg-out-space-color: #15161f;
    --bg-card-color: #1c1c27;
    --bg-board-color: #28283c;
    --font-color-basic: #fff;
    --font-color-second: #d8d8d8;
    --color-green: #00ff38;
    --color-active: #0085ff;
    --color-pink: #eb05ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-out-space-color);
}
.app {
    margin: auto;
    max-width: 900px;
    display: grid;
    grid-template-columns: 200px 1fr;

    background-color: var(--bg-board-color);
    height: 100vh;
}

/* input-group */
.input-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.input-group-hint {
    width: 100%;
    font-size: 10px;
    color: var(--font-color-second);
}
.input-group-hint--top {
    margin-bottom: 5px;
}
.input-group-hint--bottom {
    display: flex;
    justify-content: end;
    margin-top: 5px;
}
.input-group__input {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-out-space-color);
}
.input {
    padding: 10px;
    color: var(--font-color-basic);
}
.input:focus {
    outline: var(--color-active) solid 1px;
}

/* button */
.button {
    position: relative;
    z-index: 1;
}
.button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: var(--font-color-basic);
    z-index: -1;
    opacity: 0%;
}
.button:hover.button::after {
    opacity: 5%;
}
.button:active.button::after {
    opacity: 25%;
}

/* checkbox */
.checkbox__input {
    display: none;
}

/* sidebar */
.sidebar {
    background-color: var(--bg-card-color);
    padding-top: 20px;
    padding-bottom: 10px;
    width: 200px;
    height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}
.sb-item {
    position: relative;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    margin: 0 5px 0 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 40px;

    font-size: 14px;
    color: var(--font-color-basic);
}
.sb-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: #fff;
    z-index: -0.5;

    opacity: 0%;
}
.sb-item:hover.sb-item::after {
    opacity: 5%;
}
.sb-item--user {
    margin-bottom: 10px;
}
.sb-item__body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 1;
}
.sb-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
}
.sb-item__icon--user {
    font-weight: 500;
    font-size: 24px;

    background: var(--bg-board-color);
    border: 1px solid var(--bg-out-space-color);
    border-radius: 5px;
}
.sb-item__title {
    margin-left: 5px;
}
.sb-item__title--user {
    font-weight: 500;
    font-size: 18px;
}
.sb-spacer {
    width: 100%;
    flex: 1 1 auto;
}

/* container */
.container {
    overflow-y: auto;
}

/* login-border */
.login-border {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: 100%;

    /* display: none; */
}
.login-border__spacer-top {
    flex: 0.5 1 auto;
}
.login-border__spacer-bottom {
    flex: 1 1 auto;
}
.login-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 260px;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 5px;
    background-color: var(--bg-card-color);
}
.login-card__title {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0px;
    height: 50px;
    font-weight: 500;
    font-size: 24px;
    color: var(--font-color-basic);
}
.login-card__input-email {
    width: 180px;
    margin-bottom: 15px;
}
.login-card__input-password {
    width: 180px;
}
.login-card__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background: var(--color-green);
    border: none;
    border-radius: 5px;

    margin-top: 30px;
    margin-bottom: 10px;
}
.login-card__sub-text {
    font-size: 10px;
    color: var(--font-color-second);
}

/* todo-list-border */
.todo-list-border {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    padding: 25px;
    height: 100%;

    /* display: none; */
}
.border-title {
    font-weight: 500;
    font-size: 24px;
    color: var(--font-color-basic);
    margin-bottom: 25px;
}
.todo-item {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--bg-card-color);
}
.todo-item__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}
.todo-item__title {
    margin-left: 15px;
    margin: 4px;
    font-size: 12px;
    color: var(--font-color-basic);
    margin-right: auto;
    overflow: auto;

    width: 100%;
}
.todo-item__title:focus {
    outline: none;
    border-bottom: var(--color-active) solid 1px;
}
.todo-item__remove {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}
.todo-item__add-button-place {
    position: sticky;
    top: calc(100% - 40px - 50px);
    left: calc(100% - 40px - 50px);
    width: 0px;
    height: 0px;
    z-index: 2;
}
.button-add-item {
    position: relative;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: 1;

    background-image: url(svgs/button_cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--bg-out-space-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.button-add-item:hover {
    filter: drop-shadow(0px 4px 4px rgba(90, 0, 53, 0.686));
}
.button-add-item:active {
    border: var(--bg-out-space-color) solid 2px;
    width: 38px;
    height: 38px;
}
